<h1>Welcome to Chemical Inventory</h1>
<p>Below is a list of all the storage units available to you<p>
  <% @storage_units.each do |storage_unit| %>
    <h3><%= link_to storage_unit.name, "/storage_units/#{storage_unit.id}"%>
    <a href='storage_units/<%= storage_unit.id%>/edit'>Edit</a>
    <%= form_with url: "/storage_units/#{storage_unit.id}", method: :delete, local: true do |form|%>
      <%= form.submit 'Delete'%>
    <%end%></h3>
  <% end %>
<a href='storage_units/new'>Add new storage unit</a>
<a href='/'>Back to home page</a>
