<a href="/storage_units">Back to Storage Units</a>

<h1><%= @storage_unit.name %></h1>

<p><%= @storage_unit.size %></p>
<p><%= @storage_unit.fireproof %></p>

<a href='/storage_units/<%= @storage_unit.id %>/edit'>Edit</a>
